/*MAIN INDEX*/
main{
    .contenedor-main{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .resultados-titulo{
        @include h3-style(1.2em,map-get($colors, secondary), bolder);
        display: flex;
        justify-content: center;
        margin-top: 3%;
        
    }

    .contenedor-carrusel{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
        .imagen-carrusel{
            width: 300px;
            padding-top: 2%;
            padding-left: 2%;
            padding-right: 2%;
            padding-bottom: 3%;
        }
        
        .boton-contacto {
            background-color: map-get($colors, secondary);
            font-weight: bolder;
            margin: 10%;
        }
    }

    /*ASIDE INDEX*/

    .contenedor-aside{
        border-top: map-get($colors, tertiary) 2px solid;
        display:flex;
        flex-direction: column;
        align-items: center;

        .consejos-titulo{
            @include h3-style(1.2em,map-get($colors, secondary), bolder);
            display: flex;
            margin-top: 10%;
        }

        .flexbox_video iframe{
            padding: 9px;
            background-color: map-get($colors, tertiary);
            box-shadow: 2px 2px 10px map-get($colors, secondary);
            margin-bottom: 3%;
        }
        
        .map_titulo {
            @include h3-style(1.2em,map-get($colors, secondary), bolder);
            display: flex;
            margin-top: 3%;
        }
        
        .flexbox_map iframe {
            padding: 9px;
            background-color: map-get($colors, tertiary);
            box-shadow: 2px 2px 10px map-get($colors, secondary);
            margin-bottom: 3%;
        }
    }
}
@media (min-width: 1200px) {
    /*main INDEX*/
    main{
        .contenedor-main{
            display:flex;
            flex-direction: column;
            align-items: center;
        }
    
        .resultados-titulo{
            @include h3-style(1.2em,map-get($colors, secondary), bolder);
            display: flex;
            justify-content: center;
            margin-top: 5%;
        }
    
        .contenedor-carrusel{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
        
                .imagen-carrusel{
                    width: 380px;
                    padding-top: 2%;
                    padding-left: 2%;
                    padding-right: 2%;
                    padding-bottom: 2%;
                }
            
            .boton-contacto {
                background-color: map-get($colors, secondary);
                font-weight: bolder;
                margin: 5%;
            }
        }
        
        /*aside INDEX*/
        .contenedor-aside{
            border-top: map-get($colors, tertiary)0px solid;
            border-left: map-get($colors, tertiary) 2px solid;
            display:flex;
            flex-direction: column;
            align-items: center;
    
            .consejos-titulo{
                @include h3-style(1.2em,map-get($colors, secondary), bolder);
                display: flex;
                margin-top: 5%;
            }
    
            .flexbox_video iframe{
                padding: 9px;
                background-color: map-get($colors, tertiary);
                box-shadow: 2px 2px 10px map-get($colors, secondary);
                margin-bottom: 3%;
            }
            
            .map_titulo {
                @include h3-style(1.2em,map-get($colors, secondary), bolder);
                display: flex;
                margin-top: 5%;
            }
            
            .flexbox_map iframe {
                padding: 9px;
                background-color: map-get($colors, tertiary);
                box-shadow: 2px 2px 10px map-get($colors, secondary);
                margin-bottom: 15%;
            }
        }
    }
}