@import '../base/color.scss';

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    .imagen-cards{
        width: 18.65rem;
        height: 14rem;
        
    }

    .card{
        margin-top: 4vh;
        margin-bottom: 4vh;
        border-color:  map-get($colors, tertiary);
        border-width: 2px;
    }

    .card-body{
        background: gray;

        .card-text{
            font-weight: 500;
            color: map-get($colors, secondary);
        }
    }

}

@media (max-width: 1200px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .imagen-cards{
            width: 18.65rem;
            height: 14rem;
            
        }

        .conteiner-cards{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .card{
            border-color:  map-get($colors, tertiary);
            border-width: 2px;
        }
    
        .card-body{
            background: gray;
    
            .card-text{
                font-weight: 500;
                color: map-get($colors, secondary);
            }
        }
    } 
}