*{
    margin: 0px;
    padding: 0px;
}

#grilla{
    display: grid;
    grid-template-areas: 
    "header header header header"
    "main main main aside"
    "main main main aside"
    "footer footer footer footer";
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:130px 400px 400px 130px;
    gap: 10px;
    /*Grids*/ 
}

body{
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom, #252525, #747474) no-repeat;
    background-size:contain;
}

.border{
    border: 2px solid #c0c0c0;
}
header{
    grid-area: header;
    background: linear-gradient(to bottom, #747474, #252525);
    border-radius: 20px;
}
main{
    grid-area: main;
    
}
aside{
    grid-area: aside;
    background: linear-gradient(to bottom, #252525, #747474);
    border-radius: 20px;
}
footer{
    grid-area: footer;
    background: linear-gradient(to bottom, #252525, #747474);
    border-radius: 20px;
}

/*FLEXBOX HEADER*/

.flexbox_header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.Nombre_empresa{
    margin-left:10px;
    padding: 5px 5px;
    font-size: 80px;
    color: #ffed48;
    font: bolder;
}
.flexbox_header a{
    text-decoration: none;
    font: bolder;
    font-size: 20px;
    margin: 20px 25px;
    border-radius: 10px;
    color: #ffed48;
    background: linear-gradient(to bottom, #252525, #747474);
    padding: 5px;
    border-style:inset;  
    box-shadow: 5px 5px 5px 0px #333333;
}

.registrarse{
    text-decoration: none;
    font: bold;
    font-size: 20px;
    color: #ffed48;
    background: linear-gradient(to bottom, #252525, #747474);
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
    border-style:inset;
    box-shadow: 5px 5px 5px 0px #353535;
}



/* MAIN */
.flexbox_titulo_clientes{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.titulo_clientes{
    font-size: 32px;
    color: #ffed48;
    background: linear-gradient(to bottom, #252525, #747474);
    border-radius: 10px;
    margin: 50px 50px;
    padding: 5px;
    border-style:inset;  
}
.flexbox_resultados{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px;
    margin: 10px 20px;
    
}
.hijito img{
    background: linear-gradient(to bottom, #5e5e5e, #747474);
    width: 330px;
    height: 260;
    border-radius: 10px;
    box-shadow: 8px 8px 8px 3px #8c8c8c;
    margin:0px 20px;
    padding:15px 15px 15px 15px;
}
.hijito p{
    font-size: 30px;
    margin: 30px 30px;
    font: bold;
    text-align: center;
    color: #ffed48;
    
}

.contacto{
    font-weight: bold;
    font-size: 25px;
    color:#ffed48;  
    background: linear-gradient(to bottom, #252525, #747474);
    text-align: center;
    margin: 100px 100px;
    padding: 20px 20px 20px 20px;
    border-style:inset;
}

/*FLEXBOX ASIDE*/

.flexbox_titulo_resultados{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.titulo_resultados{
    font-weight: bold;
    font-size: 22px;
    color:#ffed48;  
    background: linear-gradient(to bottom, #252525, #747474);
    margin: 32px;
    padding: 20px 20px 20px 20px;
    border-style:inset;
}

.flexbox_video{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.flexbox_video iframe{
    padding: 9px;
    background-color: #8c8c8c;
    box-shadow: 10px 10px 10px 0px #353535;
    background: linear-gradient(to bottom, #252525, #747474);

}

.texto_map{
    font-weight: bold;
    font-size: 22px;
    color:#ffed48;  
    background: linear-gradient(to bottom, #252525, #747474);
    margin: 32px;
    padding: 20px 20px 20px 20px;
    border-style:inset;
}

.flexbox_map{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.flexbox_map iframe{
    padding: 10px;
    background: linear-gradient(to bottom, #252525, #747474);
    box-shadow: 10px 10px 10px 0px #353535;
}

.flexbox_foto_redes{
    display:flex;
    align-items: center;
    justify-content: center;

}

.foto_redes{
    height: 50px;
    width: 50px;
    padding: 5px 5px;
    border:1px solid #ffed48;
    
}

@media (max-width:480px){
    #grilla{
        display: grid;
        grid-template-areas: 
        "header header header"
        "main main main"
        "aside aside aside"
        "footer footer footer";
        grid-template-columns:160px 160px 160px ;
        grid-template-rows: 150px 1150px 740px 100px;
        gap: 5px;
        /*Grids*/ 
    }

    .flexbox_header{
        display:flex;
    }

    .Nombre_empresa{
        display:flex;
        justify-content: flex-start;
        margin: 10px 10px;
        padding: 5px 5px;
        font-size: 40px;
        color: #ffed48;
        font: bolder;
    }

    .flexbox_header a{
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
        font: bold;
        font-size: 12px;
        margin: 8px 8px;
        border-radius: 10px;
        color: #ffed48;
        background: linear-gradient(to bottom, #252525, #747474);
        padding: 3px;
        border-style:inset; 
        box-shadow: 5px 5px 5px 0px #333333;
    }

    .flexbox_registrarse{
        display:flex;
        flex-direction: column;
        justify-content:end;
        align-items:flex-end;
    }
    
    .registrarse{
        text-decoration: none;
        font: bold;
        font-size: 16px;
        color: #ffed48;
        background: linear-gradient(to bottom, #252525, #747474);
        border-radius: 5px;
        padding: 2px;
        margin: 10px 10px 10px 10px;
        border-style:inset;
        box-shadow: 2px 2px 2px 0px #353535;
    }

    .flexbox_inicio {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .botones{
        text-decoration: none;
        font: bold;
        font-size: 10px;
        margin:20px 20px 20px 20px;
        border-radius: 5px;
        color: #ffed48;
        background: linear-gradient(to bottom, #252525, #747474);
        padding: 2px;
        border-style:inset; 
        box-shadow: 2px 2px 2px 0px #353535;
    }
    

    .flexbox_titulo_clientes{
        display:flex;
        flex-direction: row;
        justify-content: start;
        
    }

    .titulo_clientes{
        font-size: 20px;
        color: #ffed48;
        background: linear-gradient(to bottom, #252525, #747474);
        border-radius: 5px;
        margin:  40px 40px;
        padding: 3px;
        border-style:inset;
    } 

    .flexbox_titulo_resultados{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titulo_resultados{
        font-weight: bold;
        font-size: 18px;
        color:#ffed48;  
        background: linear-gradient(to bottom, #252525, #747474);
        margin: 22px;
        padding: 10px 10px 10px 10px;
        border-style:inset;
    }

    .flexbox_resultados{
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        margin: 10px 20px;
        
    }

    .hijito img{
        background: linear-gradient(to bottom, #252525, #747474);
        width: 330px;
        height: 190;
        border-radius: 10px;
        box-shadow: 10px 10px 10px 5px #585858;
        margin:20px;
        padding:10px 10px 10px 10px;
    }

    .hijito p{
        font-size: 25px;
        margin: 5px 10px;
        font: bold;
        text-align: center;
        color: #ffed48;
    }

    .flexbox_contacto{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .contacto{
        font-weight: bold;
        font-size: 18px;
        color:#ffed48;  
        background: linear-gradient(to bottom, #252525, #747474);
        text-align: center;
        margin: 32px;
        padding: 10px 10px 10px 10px;
        border-style:inset;
    }


}



    
    





