* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans';
}

@mixin h-style($font_size, $color, $negrita) {
    font-size: $font_size;
    color: $color;
    font-weight: $negrita;
}

@mixin contenedor-1($display, $direccion, $justify, $align) {
    display: $display;
    flex-direction: $direccion;
    justify-content: $justify;
    align-items: $align;
}

/*agregar mas mixing para fotos y contenedores*/


h1 {
    font-size: 3.8em;
}

h2 {
    font-size: 2.5em;
}

p {
    font-size: 1.1em;
}

ul {
    list-style: none;
}