@import '../base/color.scss';
/*footer*/
#index {
    background-color: map-get($colors, primary);
    border-top: map-get($colors, tertiary) 2px solid;

    #redes {
        @include contenedor(flex, row, center, center);
        margin: 2% 2% 2% 2%;

        .foto_redes {
            height: 40px;
            width: 40px;
            margin: 3px;
            padding: 0px;
            border: 1px solid map-get($colors, secondary);
        }
    }
}

@media (min-width: 1200px) {
/*footer*/
    #index {
        background-color: map-get($colors, primary);
        border-top: map-get($colors, tertiary) 2px solid;
    
        #redes {
            @include contenedor(flex, row, center, center);
            margin: 30px 30px 30px 30px;
    
            .foto_redes {
                height: 40px;
                width: 40px;
                margin: 15px;
                padding: 0px;
                border: 1px solid map-get($colors, secondary);
            }
        }
    }
}